.showcase-targets img {
  padding-top: 10px;
  opacity: 0.1;
}

.showcase-target-active img {
  filter: grayscale(0%);
  opacity: 0.7;
}

.showcase-target img {
  filter: grayscale(100%);
  opacity: 0.1;
}

.showcase-grid .col-md-4:nth-child(3n + 1) {
  clear: both;
}

.showcase-game-thumbnail img {
  box-shadow: 0 1px 5px #696969, 0 -2px 5px #f2f2f2;
}

.showcase-game {
  padding-bottom: 40px;
}

.showcase-game h3 {
  height: 60px;
  width: 540px;
  position: relative;
  bottom: 10px;
  display: table-cell;
  vertical-align: bottom;
}
