.footer-main {
  margin-top: 60px;
  background-color: #515151;
  min-height: 110px;
  text-shadow: none;
}

.footer:before {
  background-image: -webkit-linear-gradient(
    left,
    #ffdb2d 0%,
    #ffdb2d 20%,
    #e30019 20%,
    #e30019 40%,
    #9cb641 40%,
    #9cb641 60%,
    #1a2eef 60%,
    #1a2eef 80%,
    #00abf3 80%,
    #00abf3 100%
  );
  background: -moz-linear-gradient(
    left center,
    #ffdb2d 0%,
    #ffdb2d 20%,
    #e30019 20%,
    #e30019 40%,
    #9cb641 40%,
    #9cb641 60%,
    #1a2eef 60%,
    #1a2eef 80%,
    #00abf3 80%,
    #00abf3 100%
  );
  top: 1;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}

.footer-powered-by {
  color: #ffffff;
  float: right;
  margin-top: 20px;
}

.footer-powered-by p {
  display: inline;
}

.footer-powered-by img {
  width: 40px;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  margin: 6px;
}

.footer-powered-by img:hover {
  transform: scale(1.2);
}

.footer-social {
  margin-top: 28px;
  float: left;
}

.footer-patreon {
  margin-left: 20px;
}

.footer-patreon img {
  width: 40px;
}

#demoSWF {
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .footer-powered-by {
    float: none;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-powered-by a {
    display: block;
  }

  .footer-social {
    float: none;
    text-align: center;
  }

  .footer-powered-by p {
    display: block;
    margin-bottom: 26px;
  }
}
